<html>
<head>
<title>Vivian Mai</title>

	<style>
		div {
			margin: auto;
			width: 50%;
			padding: 20px;
		}
		.centered {
			text-align: center;
		}
		h4 {
			display: inline;
		}
		
	</style>
	
</head>
<body>
	<div>
		<h1 class="centered">Student Sim</h1>
		<h3 class="centered">Tutorial</h3>
		<p class="centered">Your goal is to sucessfully get your student through 3 years of high school.
		<dl>
			<dt><h4>Manage their stats.</h4><dt>
				<dd>INT: How smart is your student? Increases training capability.</dd>
				<dd>PHY: How athletic is your student? Slightly decreases hp loss.</dd>
				<dd>CHR: How chrismatic is your student? Increases odds of making friends.</dd>
				<dd>LUK: How lucky is your student? Increases odds of good events and bonuses.</dd>
				<dd>HP: How healthy is your student? If it drops to 0, make sure to hold a funeral.</dd>
		</dl>
		<dl><h4>Instruct them on how to spend their time wisely.</h4>
			<dt>Training, increase your stats!</dt>
				<dd>Study: Spend some time hitting the books, get smarter!</dd>
				<dd>Workout: Head to the gym, work out those muscles!</dd>
				<dd>Act: Join the local theater and work on expression!</dd>
				<dd>Pray: Go to church, maybe god will bless you!</dd>
			<dt>Rest, restore your hp!</dt>
				<dd>Read: Pull out a good story and chill.</dd>
				<dd>Yoga: Clear your mind and get some stretches in.</dd>
				<dd>Nothing: Stare into the void doing absolutely nothing.</dd>
				<dd>Sleep: Nothing better than getting some zzz in.</dd>
			<dt>Friends, develop bonds together!</dt>
				<dd>Study: Why study alone when you can do it together?</dd>
				<dd>Sports: Hop on the field, its time to game.</dd>
				<dd>Chat: Chill and sip on some pipin hot coffee.</dd>
				<dd>Hangout: Eat out, watch a movie, anything goes.</dd>
		</dl>
		<dl><h4>Overcome major events and graduate!</h4>
			<dt>Special events:</dt>
				<dd>Introduction ceremony: Start your highschool adventure.</dd>
				<dd>Camp out: Go camping in your 2nd year summer with the school!</dd>
				<dd>Prom: Party with friends on your last year.</dd>
			<dt>Regular events:</dt>
				<dd>Exams: Study up before November, Febuary, and June</dd>
				<dd>Sports Day: Compete with your class every April</dd>
		</dl>
		<h2>Create your character</h2>
		<form action="/create_character/">
			<label for="name"><h4>Name:</h4></label>
			<input type="text" id="name" name="name" required>
		<br>
			<input type="submit" value="Create">
		</form>
	</div>
</body>
</html>